@font-face {
  font-family: 'nunito-light';
  src: url("./assets/fonts/nunito-light.ttf");
}
@font-face {
  font-family: 'martel-sans';
  src: url("./assets/fonts/MartelSans-Regular.ttf");
}
@font-face {
  font-family: 'nunito-regular';
  src: url("./assets/fonts/nunito-regular.ttf");
}
@font-face {
  font-family: 'nunito-bold';
  src: url("./assets/fonts/nunito-bold.ttf");
}
@font-face {
  font-family: 'open-sans';
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'open-sans';
  src: url("./assets/fonts/OpenSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url("./assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'open-sans';
  src: url("./assets/fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

div:focus,
span:focus,
li:focus,
p:focus {
  outline: none;
}

html {
  font-size: 10px !important;
}

.quill .ql-container.ql-snow {
  border: none;
}

.ql-editor {
  font-family: "open-sans";
}

/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-martel-sans {
  font-family: 'Martel Sans';
}

.ql-font-roboto {
  font-family: "Roboto";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}

.ql-editor .td-video {
  display: block;
  max-width: 100%;
}

.ql-editor ul[data-checked] {
  background-color: #F8F8F8;
}

.ql-editor ul[data-checked="true"] {
  font-style: italic;
  color: #8a8a8a;
}

.ql-editor ul[data-checked] li{
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.ql-editor ul[data-checked] li > * {
  margin-bottom: 4px;
}

.ql-editor ul[data-checked] span {
  margin-bottom: 4px;
}


.ql-editor ul[data-checked] li::before{
  margin-right: 1.2rem;
}

.ql-editor ul[data-checked="false"] li::before {
  content: url("./assets/quill/unchecked.svg");
}

.ql-editor ul[data-checked="true"] li::before {
  content: url("./assets/quill/checked.svg");
}




.ql-snow .ql-color-picker .ql-picker-options {
  width: 52px;
}

.ql-editor .ql-bg-find {
  background-color: #FFD8D9;
}

.ql-editor .td-video .td-quill-video-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
.ql-editor .td-video .td-quill-video-wrapper:hover {
  background-color: rgba(0,0,0,0.4);
  box-sizing: border-box;
  border: 1px dashed #444;
}
.ql-editor .td-video .td-quill-video-wrapper.active {
  background-color: rgba(0,0,0,0.4);
  box-sizing: border-box;
  border: 1px dashed #444;
}
.ql-editor .td-video .td-quill-video-wrapper {
  position: relative;
  display: inline-block;
  margin: auto;
}
.ql-editor .td-video .td-quill-video-editing {
  padding: 1px;
  min-width: 300px;
  min-height: 150px;
  max-width: 100%;
}
.ql-editor .td-video .td-quill-video-toolbar-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}
.ql-editor .td-video .td-quill-video-toolbar-wrapper .td-quill-video-toolbar {
  position: relative;
  top: -15px;
  width: auto;
  display: inline-block;
  padding: 5px 0px;
}
.ql-editor .td-video .td-quill-video-toolbar .td-quill-video-align-action {
  padding: 0 5px;
  background-color: #fff;
  cursor: pointer;
  color: #3b3e43;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.ql-editor .td-video .td-quill-video-toolbar .td-quill-video-left {
  border-left: 1px solid #dbdbdb;
}
.ql-editor .td-video .td-quill-video-toolbar .td-quill-video-right {
  border-right: 1px solid #dbdbdb;
}
.ql-editor .td-video .td-quill-video-toolbar .td-quill-video-center {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.ql-editor .td-video .td-quill-video-toolbar .td-quill-video-align-action:hover {
  color: #0FCED1;
}

.ql-editor .td-video .td-quill-resize-nub {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  cursor: nesw-resize;
}

.ql-toolbar.ql-snow .ql-picker.ql-table .ql-picker-label {
  padding: 3px 3px;
}

.ql-toolbar.ql-snow .ql-picker-options {
  font-size: 12px;
}

.ql-picker.ql-table .ql-picker-item {
  line-height: 20px;
  background-color: #e8e8e8;
  border: none;
}

.ql-toolbar.ql-snow .ql-table.ql-picker {
  position: absolute;
  top: 0;
  left: 0;
}

.ql-toolbar.ql-snow .ql-table {
  width: 25px !important;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-snow .ql-tooltip.invalid input[type=text] {
  border: 2px solid red;
}

.ql-snow .ql-tooltip.invalid a {
  pointer-events: none;
  cursor: default;
  color: #444;
}
