.sublist-nav {
  margin: 0.5rem 0 0.5rem 2.3rem;
  border-left: .1rem solid #CECAC9;
  padding-left: 1.5rem;
}

.sublist-nav.light-red {border-color: #FF8989;}
.sublist-nav.light-yellow {border-color: #FFD591;}
.sublist-nav.dark-red {border-color: #EC1074;}
.sublist-nav.light-green {border-color: #86E723;}
.sublist-nav.dark-yellow {border-color: #F5A623;}

.sublist-nav > ul{
  padding: 0;
}

.sublist-nav .sublist-item {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  color: #9b9b9b;
}

.sublist-nav span {
  margin-left: 1px;
}
