.checklist-data-body {
  padding: 16px 9px;
}

.editor {
  max-height: calc(100vh - 42px - 7.5rem);
  min-height: 100px;
  overflow-y: auto;
}

.editor .editing-area {
  border: none;
}

}

}

}

}

.checklist-data-body .editor div > div:nth-child(3) input {
  outline: none;
}


