.payload-data .payload-data-header {
  height: 4.2rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1.2rem 2.5rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: 'nunito-regular';
  cursor: pointer;
  overflow: hidden;
  color: #000;
}

.payload-data .payload-data-header p {
  margin: 0;
  width: 100%;
}

.payload-data .payload-data-body {
  padding: 3.5rem 3rem;
  max-height: calc(100vh - 128px);
  overflow: auto;
}

.payload-data .payload-data-body .payload-data-block {
  margin-bottom: 3rem;
}

.payload-data .payload-data-body .payload-data-block .payload-data-block-title {
  width: 100%;
  color: #4A4A4A;
  font-size: 1.3rem;
  font-family: 'nunito-regular';
}

.payload-data .payload-data-body .payload-data-block .payload-data-block-description {
  width: 100%;
  color: #8A8A8A;
  font-size: 1.3rem;
  font-family: 'nunito-regular';
  display: block;
  margin: 8px 0;
}

.payload-data .payload-data-body .payload-data-block .payload-data-block-body {
  width: 100%;
  display: flex;
}

.payload-data .payload-data-body .payload-data-block .payload-data-block-body textarea {
  width: 100%;
  border: 0.1rem solid rgba(151, 151, 151, 0.38);
  border-radius: .4rem;
  background-color: rgba(216, 216, 216, 0.09);
  padding: 1rem;
  color: #767D81;
  font-size: 1.3rem;
  font-family: 'nunito-regular';
  margin-top: .5rem;
  overflow: hidden;
}

.payload-data .payload-data-body .payload-data-block .payload-data-block-body textarea:focus {
  outline: none;
}

.payload-data .payload-data-body .payload-data-block .payload-data-block-body .icons {
  display: block;
}

.payload-data .payload-data-body .add-payload-block {
  padding-right: 5rem;
  box-sizing: content-box;
}

.payload-data .payload-data-body .add-payload-block p {
  color: #F97072;
  font-size: 1.3rem;
  font-family: 'nunito-regular';
}

.payload-data .payload-data-body .add-payload-block #add-payload-title,
.payload-data .payload-data-body .add-payload-block #add-payload-description {
  border: 1px solid #B1B1B1;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  color: #767D81;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'nunito-regular';
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.payload-data .payload-data-body .add-payload-block #add-payload-title:focus,
.payload-data .payload-data-body .add-payload-block #add-payload-description:focus {
  outline: none;
}

.payload-data .payload-data-body .add-payload-block #add-payload-body {
  border: 1px solid #B1B1B1;
  width: 100%;
  height: 7.5rem;
  margin-bottom: 1.5rem;
  color: #767D81;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'nunito-regular';
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.payload-data .payload-data-body .add-payload-block #add-payload-body:focus {
  outline: none;
}

.payload-data .payload-data-body .add-payload-block .add-payload-button {
  font-size: 1.3rem;
  font-family: 'nunito-regular';
  color: #fff;
  height: 3.5rem;
  width: 7rem;
  border-radius: .6rem;
  margin-left: 2rem;
  float: right;
  background-color: #F97072;
  padding-top: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.payload-data .payload-data-body .add-payload-block .add-payload-button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.payload-data .payload-data-body .add-payload-block .cancel-payload-button {
  font-size: 1.3rem;
  font-family: 'nunito-regular';
  color: #fff;
  height: 3.5rem;
  width: 7rem;
  border-radius: .6rem;
  float: right;
  background-color: #4A4A4A;
  padding-top: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.payload-data .payload-data-body .add-payload-block .cancel-payload-button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.toast-body {
  color: #c0c0c0;
  font-size: 1.5em;
}

.toast-progress {
  background: #F97072;
}

.toast-delete-text {
  color: #808080;
  padding: 6px;
  float: left;
}

.toast-undo {
  padding: 6px;
  margin-right: 12px;
  border-radius: 3px;
  float: right;
  color: #F97072;
  font-weight: bold;
}

.toast-undo:hover {
  background: #e0e0e0;
}
